.home {
  background-image: url(/src/imgs/bambu.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__content {
  text-align: center;
  color: white;
  text-shadow: 1px 1px #000;
}

.home__content h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.home__content p {
  font-size: 2rem;
}
